# 官方文档 https://editorconfig.org
# .editorconfig 是一个用于统一代码风格的配置文件，它可以被多个编辑器和 IDE 识别和应用。通过在项目中添加一个名为 .editorconfig 的文件，可以确保团队成员在不同的编辑器中编写代码时遵循相同的代码风格和规范。

# EditorConfig 插件会从文件所在目录开始逐级向上查找 .editorconfig，直到到达根目录或者找到包含属性 root=true 的 .editorconfig 文件为止。
root = true # 控制配置文件 .editorconfig 是否生效的字段

[**] # 匹配全部文件
indent_style = space # 缩进风格，可选space｜tab
indent_size = 2 # 缩进的空格数
charset = utf-8 # 设置字符集
trim_trailing_whitespace = true # 删除一行中的前后空格，删除换行符前的任意空白字符
insert_final_newline = false # 设为true表示使文件以一个空白行结尾（末尾插入一个新行）
end_of_line = lf # 控制换行类型（lf | cr | crlf）
# max_line_length = 100 # 最大行长度

[**.md] # 匹配md文件
trim_trailing_whitespace = false
max_line_length = 0 # 不限制最大行长度

[COMMIT_EDITMSG]
max_line_length = 0 # 不限制最大行长度
